.card {
  max-width: 413px;
}

.card__image {
  width: 413px;
  object-fit: cover;
  display: block;
  height: 413px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  margin: 0;
  max-width: 353px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__like-button {
  background: transparent url("../images/heart.svg") no-repeat center;
  width: 23px;
  height: 20px;
  border: none;
  margin: 0;
  padding-left: 16px;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.2;
  }
}
