.cards {
  margin: auto;
  max-width: 1280px;
  padding: 20px 20px 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  margin: 0;
  padding: 0;
  gap: 40px 20px;
  list-style-type: none;
}

@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
