.card {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 413px;
}

.card__delete-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  border: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../images/deleteicon.svg);
  cursor: pointer;
}

.card__delete-button:hover {
  background-color: #ff6565;
}

.card__image {
  width: 413px;
  object-fit: cover;
  display: block;
  height: 413px;
  margin-bottom: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.card__image:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card__image:focus {
  transform: scale(1.05);
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  margin: 0;
  max-width: 353px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__like-button {
  background: transparent url("../images/heart.svg") no-repeat center;
  width: 23px;
  height: 20px;
  border: none;
  margin: 0;
  padding-left: 16px;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/likehearticon.svg);
  color: #ff6565;
  opacity: 1;
}

.card__like-button_active:hover {
  color: #ff6565;
  opacity: 0.7;
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 288px;
  }

  .card__delete-button {
    border: 0;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.2;
  }
}
