.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 104px;
  /* width: 7%; */
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 60px 0;
  margin: 0 auto;
  color: rgba(33, 33, 33, 0.7);
}
