.profile {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile__name {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  margin: 0 0 12px;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  display: flex;
  font-size: 16px;
  line-height: 1;
  background-color: #fcf5e5;
  background-color: transparent;
  color: #212121;
  opacity: 0.7;
  margin-top: auto;
  gap: 8px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-button {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  height: 52px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin: auto 0 0;
  margin-left: auto;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  color: #fcf5e5;
  cursor: pointer;
  background-color: #212121;
}

.profile__add-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 288px;
    padding: 20px 0 0;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
  }

  .profile__name {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 6px;
    color: #212121;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .profile__description {
    font-size: 16px;
    line-height: 1;
    margin: 0 0 32px;
    color: rgba(33, 33, 33, 0.7);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .profile__edit-button {
    font-size: 16px;
    line-height: 100%;
    color: #212121;
    margin-top: 12px;
    padding: 0;
    border: 0;
  }

  .profile__add-button {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
  }
}
